<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Query">
    </form>
    <table>
        <thead>
            <th>Title</th>
            <th>File Name</th>
            <th>Summary</th>
            <th>Document ID</th>
            <th>Document Type</th>
            <th>Authors</th>
            <th>Subject Category</th>
            <th>Keywords</th>
            <th>Found Keywords</th>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.title }}</td>
                <td>{{ result.file_name }}</td>
                <td>{{ result.summary }}</td>
                <td>{{ result.document_id }}</td>
                <td>{{ result.document_type }}</td>
                <td>{{ result.authors }}</td>
                <td>{{ result.subject_category }}</td>
                <td>{{ result.keywords }}</td>
                <td>{{ result.found_keywords }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
